In [1]:
import pandas as pd

## Movies

In [2]:
genres = pd.read_csv("ml-32m/movies.csv")

In [3]:
genres.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
links = pd.read_csv("ml-32m/links.csv")
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [5]:
merge_1 = pd.merge(genres, links, on='movieId')
merge_1.head()

,movieId,title,genres,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0
2,3,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,31357.0
4,5,Father of the Bride Part II (1995),Comedy,113041,11862.0

In [6]:
len(merge_1)

87585

In [7]:
directors = pd.read_json("genome/metadata_updated.jsonl", lines=True)
directors.head()

,title,directedBy,starring,avgRating,imdbId,item_id
0,Toy Story (1995),John Lasseter,"Tim Allen, Tom Hanks, Don Rickles, Jim Varney,...",3.89146,114709,1
1,Jumanji (1995),Joe Johnston,"Jonathan Hyde, Bradley Pierce, Robin Williams,...",3.26605,113497,2
2,Grumpier Old Men (1995),Howard Deutch,"Jack Lemmon, Walter Matthau, Ann-Margret , Sop...",3.17146,113228,3
3,Waiting to Exhale (1995),Forest Whitaker,"Angela Bassett, Loretta Devine, Whitney Housto...",2.86824,114885,4
4,Father of the Bride Part II (1995),Charles Shyer,"Steve Martin, Martin Short, Diane Keaton, Kimb...",3.07620,113041,5

In [8]:
len(directors)

84661

In [9]:
merged_2 = pd.merge(directors, merge_1, left_on='item_id', right_on='movieId', how='left')

# Drop the duplicate key column if necessary

merged_2.drop(columns=['movieId', 'title_y', 'tmdbId','imdbId_y'], inplace=True)
merged_2.rename(columns={'title_x':'title', 'imdbId_x':'imdbId'}, inplace=True)
columns = ['item_id', 'title', 'genres', 'directedBy', 'starring', 'avgRating', 'imdbId']
merged_2 = merged_2[columns]
merged_2.reset_index(drop=True, inplace=True)
merged_2.head()

,item_id,title,genres,directedBy,starring,avgRating,imdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,John Lasseter,"Tim Allen, Tom Hanks, Don Rickles, Jim Varney,...",3.89146,114709
1,2,Jumanji (1995),Adventure|Children|Fantasy,Joe Johnston,"Jonathan Hyde, Bradley Pierce, Robin Williams,...",3.26605,113497
2,3,Grumpier Old Men (1995),Comedy|Romance,Howard Deutch,"Jack Lemmon, Walter Matthau, Ann-Margret , Sop...",3.17146,113228
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Forest Whitaker,"Angela Bassett, Loretta Devine, Whitney Housto...",2.86824,114885
4,5,Father of the Bride Part II (1995),Comedy,Charles Shyer,"Steve Martin, Martin Short, Diane Keaton, Kimb...",3.07620,113041

In [10]:
len(merged_2)

84661

In [11]:
merged_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84661 entries, 0 to 84660
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   item_id     84661 non-null  int64
 1   title       84661 non-null  object
 2   genres      73476 non-null  object
 3   directedBy  84661 non-null  object
 4   starring    84661 non-null  object
 5   avgRating   84661 non-null  float64
 6   imdbId      84661 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 4.5+ MB

In [12]:
# Filter rows where the 'genres' column is empty or null
no_genres_df = merged_2[merged_2['genres'].isnull() | (merged_2['genres'] == '')]

# Display the rows without genres
print(no_genres_df)

       item_id                                              title genres  \
288        291                               Poison Ivy II (1996)    NaN
541        545                                       Harem (1985)    NaN
617        624              Condition Red (Beyond the Law) (1995)    NaN
871        888  Land Before Time III: The Time of the Great Gi...    NaN
1044      1064             Aladdin and the King of Thieves (1996)    NaN
...        ...                                                ...    ...
84653   239300               The Grand Knockout Tournament (1987)    NaN
84654   239302                                   Basements (1987)    NaN
84655   239304                              Grease Day USA (1978)    NaN
84657   239308                                   Nightmare (1974)    NaN
84659   239312                                   Pee Nak 2 (2020)    NaN

                         directedBy  \
288                   Anne Goursaud
541                    Arthur Joffé
617                 Mika Kaurismäki
871                 Roy Allen Smith
1044                     Tad Stones
...                             ...
84653                 Martin Hughes
84654                 Robert Altman
84655                  Glen Swanson
84657                  William Hale
84659  Phontharis Chotkijsadarsopon

                                                starring  avgRating    imdbId
288    Alyssa Milano, Johnathon Schaech, Xander Berke...    2.29862    114151
541                       Nastassja Kinski, Ben Kingsley    2.66949     89256
617    Victor Argo, Paul Calderon, James Russo, Cynda...    2.63793    112712
871          Scott McAfee, Candace Hutson, Heather Hogan    2.32238    113596
1044   John Rhys-Davies, Scott Weinger, Robin William...    3.10470    115491
...                                                  ...        ...       ...
84653  Stuart Hall,Rowan Atkinson,Sarah Ferguson,Barb...    0.00000    211388
84654  John Travolta,Tom Conti,Linda Hunt,Annie Lenno...    0.00000     92620
84655  John Travolta,Olivia Newton-John,Chevy Chase,A...    0.00000    433385
84657  Richard Crenna,Patty Duke,Vic Morrow,Arlene Go...    0.00000     71911
84659  วชิรวิชญ์ ไพศาลกุลวงศ์,ภูริพรรธน์ เวชวงศาเตชาว...    0.00000  11906412

[11185 rows x 7 columns]

In [14]:
merged_2.to_json('genome/movies.jsonl', orient='records', index=False, lines=True)

In [15]:
from sqlalchemy import create_engine

In [16]:
engine = create_engine('postgresql://admin:admin@localhost:5432/movielens')

In [17]:
engine.connect()

In [18]:
merged_2.to_sql('movies', con=engine, if_exists='replace', index=False)

661

## Ratings

In [ ]:
ratings = pd.read_json('genome/ratings.jsonl', nrows=100, lines=True)
ratings.head()

   item_id  user_id  rating
0        5   997206       3
1       10   997206       4
2       13   997206       4
3       17   997206       5
4       21   997206       4

In [ ]:
ratings = pd.read_json('genome/ratings.jsonl', lines=True, chunksize=100000)

In [ ]:
from time import time

In [ ]:
# Step 1: Read the first chunk to get the schema
first_chunk = next(pd.read_json('genome/ratings.jsonl', lines=True, chunksize=100000))

# Step 2: Create an empty table based on the schema
first_chunk.head(0).to_sql(name='ratings', con=engine, if_exists='replace', index=False)

# Step 3: Write the first chunk and the remaining chunks to the table
first_chunk.to_sql(name='ratings', con=engine, if_exists='append', index=False)

# Step 4: Iterate over the rest of the chunks and insert them into the database
for chunk in pd.read_json('genome/ratings.jsonl', lines=True, chunksize=100000):
    t_start = time()
    chunk.to_sql(name='ratings', con=engine, if_exists='append', index=False)
    t_end = time()
    print(f'Processed chunk in {t_end - t_start} seconds')

Processed chunk in 0.9928138256072998 seconds
Processed chunk in 1.1722221374511719 seconds
Processed chunk in 1.1077780723571777 seconds
Processed chunk in 1.24397611618042 seconds
Processed chunk in 1.0509638786315918 seconds
Processed chunk in 1.050959825515747 seconds
Processed chunk in 1.22330904006958 seconds
Processed chunk in 1.0011777877807617 seconds
Processed chunk in 1.176987886428833 seconds
Processed chunk in 0.9669339656829834 seconds
Processed chunk in 1.1732351779937744 seconds
Processed chunk in 1.1130168437957764 seconds
Processed chunk in 1.111896276473999 seconds
Processed chunk in 1.1184849739074707 seconds
Processed chunk in 1.046431064605713 seconds
Processed chunk in 1.0775938034057617 seconds
Processed chunk in 1.0706291198730469 seconds
Processed chunk in 1.041321039199829 seconds
Processed chunk in 1.1113159656524658 seconds
Processed chunk in 1.0690159797668457 seconds
Processed chunk in 1.135908842086792 seconds
Processed chunk in 0.9605891704559326 seconds
Processed chunk in 1.1819579601287842 seconds
Processed chunk in 1.0750458240509033 seconds
Processed chunk in 1.2158691883087158 seconds
Processed chunk in 1.05726957321167 seconds
Processed chunk in 1.1615948677062988 seconds
Processed chunk in 0.9864730834960938 seconds
Processed chunk in 1.098235845565796 seconds
Processed chunk in 1.1441807746887207 seconds
Processed chunk in 1.043701171875 seconds
Processed chunk in 1.0246729850769043 seconds
Processed chunk in 1.0611813068389893 seconds
Processed chunk in 1.0334360599517822 seconds
Processed chunk in 0.997473955154419 seconds
Processed chunk in 1.1684398651123047 seconds
Processed chunk in 1.1535778045654297 seconds
Processed chunk in 1.2357149124145508 seconds
Processed chunk in 1.0946519374847412 seconds
Processed chunk in 1.2700200080871582 seconds
Processed chunk in 1.1477611064910889 seconds
Processed chunk in 1.2569069862365723 seconds
Processed chunk in 1.1327030658721924 seconds
Processed chunk in 1.134227991104126 seconds
Processed chunk in 1.123906135559082 seconds
Processed chunk in 1.2122039794921875 seconds
Processed chunk in 1.0573220252990723 seconds
Processed chunk in 1.201789140701294 seconds
Processed chunk in 1.0348291397094727 seconds
Processed chunk in 1.1746699810028076 seconds
Processed chunk in 1.0655863285064697 seconds
Processed chunk in 1.1430559158325195 seconds
Processed chunk in 1.100092887878418 seconds
Processed chunk in 1.1716229915618896 seconds
Processed chunk in 1.1339390277862549 seconds
Processed chunk in 1.0638599395751953 seconds
Processed chunk in 1.1591007709503174 seconds
Processed chunk in 1.0471739768981934 seconds
Processed chunk in 1.1169321537017822 seconds
Processed chunk in 1.074280023574829 seconds
Processed chunk in 1.0527100563049316 seconds
Processed chunk in 1.0482070446014404 seconds
Processed chunk in 0.9662561416625977 seconds
Processed chunk in 1.0923130512237549 seconds
Processed chunk in 1.1454579830169678 seconds
Processed chunk in 1.06805419921875 seconds
Processed chunk in 1.2367448806762695 seconds
Processed chunk in 1.0335917472839355 seconds
Processed chunk in 1.3122389316558838 seconds
Processed chunk in 1.114353895187378 seconds
Processed chunk in 1.2958745956420898 seconds
Processed chunk in 1.136512041091919 seconds
Processed chunk in 1.1959822177886963 seconds
Processed chunk in 1.0974400043487549 seconds
Processed chunk in 1.227452039718628 seconds
Processed chunk in 1.0919561386108398 seconds
Processed chunk in 1.0694010257720947 seconds
Processed chunk in 1.0440959930419922 seconds
Processed chunk in 1.0318658351898193 seconds
Processed chunk in 1.2009449005126953 seconds
Processed chunk in 1.0919899940490723 seconds
Processed chunk in 1.2370061874389648 seconds
Processed chunk in 1.135326862335205 seconds
Processed chunk in 1.0325639247894287 seconds
Processed chunk in 1.1465661525726318 seconds
Processed chunk in 1.2515761852264404 seconds
Processed chunk in 1.192493200302124 seconds
Processed chunk in 1.1961190700531006 seconds
Processed chunk in 1.2008821964263916 seconds
Processed chunk in 1.26485013961792 seconds
Processed chunk in 1.1618340015411377 seconds
Processed chunk in 1.1820149421691895 seconds
Processed chunk in 1.2348599433898926 seconds
Processed chunk in 1.230417013168335 seconds
Processed chunk in 1.3094511032104492 seconds
Processed chunk in 1.3849406242370605 seconds
Processed chunk in 1.206160068511963 seconds
Processed chunk in 1.1388521194458008 seconds
Processed chunk in 1.0503149032592773 seconds
Processed chunk in 1.129983901977539 seconds
Processed chunk in 1.0867340564727783 seconds
Processed chunk in 1.185762882232666 seconds
Processed chunk in 1.114320993423462 seconds
Processed chunk in 1.1576917171478271 seconds
Processed chunk in 0.957521915435791 seconds
Processed chunk in 1.1149790287017822 seconds
Processed chunk in 1.0499398708343506 seconds
Processed chunk in 1.1034939289093018 seconds
Processed chunk in 1.0922207832336426 seconds
Processed chunk in 1.0598399639129639 seconds
Processed chunk in 1.089979887008667 seconds
Processed chunk in 1.315701961517334 seconds
Processed chunk in 1.8313417434692383 seconds
Processed chunk in 1.3580491542816162 seconds
Processed chunk in 1.1890251636505127 seconds
Processed chunk in 1.1114299297332764 seconds
Processed chunk in 1.1991078853607178 seconds
Processed chunk in 1.1105437278747559 seconds
Processed chunk in 1.0638949871063232 seconds
Processed chunk in 1.0398330688476562 seconds
Processed chunk in 1.1043362617492676 seconds
Processed chunk in 1.0450630187988281 seconds
Processed chunk in 1.1762707233428955 seconds
Processed chunk in 1.0602271556854248 seconds
Processed chunk in 1.176422119140625 seconds
Processed chunk in 1.065147876739502 seconds
Processed chunk in 1.129744052886963 seconds
Processed chunk in 1.088716983795166 seconds
Processed chunk in 1.1298000812530518 seconds
Processed chunk in 1.1024808883666992 seconds
Processed chunk in 1.059648036956787 seconds
Processed chunk in 1.1019361019134521 seconds
Processed chunk in 1.0182008743286133 seconds
Processed chunk in 1.168591022491455 seconds
Processed chunk in 1.0966160297393799 seconds
Processed chunk in 1.1016571521759033 seconds
Processed chunk in 1.151465892791748 seconds
Processed chunk in 1.167712926864624 seconds
Processed chunk in 1.2900569438934326 seconds
Processed chunk in 1.1275050640106201 seconds
Processed chunk in 1.1062331199645996 seconds
Processed chunk in 1.0705680847167969 seconds
Processed chunk in 1.100836992263794 seconds
Processed chunk in 1.1438548564910889 seconds
Processed chunk in 1.1059677600860596 seconds
Processed chunk in 1.0970079898834229 seconds
Processed chunk in 0.9685781002044678 seconds
Processed chunk in 1.2890770435333252 seconds
Processed chunk in 1.3723571300506592 seconds
Processed chunk in 1.1856069564819336 seconds
Processed chunk in 1.2540090084075928 seconds
Processed chunk in 1.21812105178833 seconds
Processed chunk in 1.1463282108306885 seconds
Processed chunk in 1.0542359352111816 seconds
Processed chunk in 1.2226078510284424 seconds
Processed chunk in 1.092071294784546 seconds
Processed chunk in 1.1995389461517334 seconds
Processed chunk in 1.154233694076538 seconds
Processed chunk in 1.2086241245269775 seconds
Processed chunk in 1.176081895828247 seconds
Processed chunk in 1.1220569610595703 seconds
Processed chunk in 1.1846528053283691 seconds
Processed chunk in 1.2159500122070312 seconds
Processed chunk in 1.198448896408081 seconds
Processed chunk in 1.266322135925293 seconds
Processed chunk in 1.2281591892242432 seconds
Processed chunk in 1.1361520290374756 seconds
Processed chunk in 1.2251670360565186 seconds
Processed chunk in 1.2522821426391602 seconds
Processed chunk in 1.1133770942687988 seconds
Processed chunk in 1.1316030025482178 seconds
Processed chunk in 1.2138950824737549 seconds
Processed chunk in 1.2489080429077148 seconds
Processed chunk in 1.2003955841064453 seconds
Processed chunk in 1.2450008392333984 seconds
Processed chunk in 1.2460169792175293 seconds
Processed chunk in 1.1654980182647705 seconds
Processed chunk in 1.1933262348175049 seconds
Processed chunk in 1.212129831314087 seconds
Processed chunk in 1.5681023597717285 seconds
Processed chunk in 1.1833410263061523 seconds
Processed chunk in 1.1386759281158447 seconds
Processed chunk in 1.1528072357177734 seconds
Processed chunk in 1.054527997970581 seconds
Processed chunk in 1.0681180953979492 seconds
Processed chunk in 1.1030418872833252 seconds
Processed chunk in 0.9919209480285645 seconds
Processed chunk in 1.0285518169403076 seconds
Processed chunk in 1.0837440490722656 seconds
Processed chunk in 1.1945221424102783 seconds
Processed chunk in 1.049555778503418 seconds
Processed chunk in 1.5876562595367432 seconds
Processed chunk in 1.0923478603363037 seconds
Processed chunk in 1.1672546863555908 seconds
Processed chunk in 1.1658580303192139 seconds
Processed chunk in 1.154261589050293 seconds
Processed chunk in 1.1752479076385498 seconds
Processed chunk in 1.0875370502471924 seconds
Processed chunk in 1.164957046508789 seconds
Processed chunk in 1.176419734954834 seconds
Processed chunk in 1.1423590183258057 seconds
Processed chunk in 1.1231176853179932 seconds
Processed chunk in 1.1928961277008057 seconds
Processed chunk in 1.1667358875274658 seconds
Processed chunk in 1.1968419551849365 seconds
Processed chunk in 1.6202988624572754 seconds
Processed chunk in 1.169666051864624 seconds
Processed chunk in 1.3619799613952637 seconds
Processed chunk in 1.2846307754516602 seconds
Processed chunk in 1.0530719757080078 seconds
Processed chunk in 1.0578930377960205 seconds
Processed chunk in 0.9778470993041992 seconds
Processed chunk in 1.0210108757019043 seconds
Processed chunk in 1.0650818347930908 seconds
Processed chunk in 1.06233811378479 seconds
Processed chunk in 1.034569263458252 seconds
Processed chunk in 1.105191946029663 seconds
Processed chunk in 1.213299036026001 seconds
Processed chunk in 1.0554828643798828 seconds
Processed chunk in 1.034773826599121 seconds
Processed chunk in 1.0375571250915527 seconds
Processed chunk in 1.0719671249389648 seconds
Processed chunk in 1.0456082820892334 seconds
Processed chunk in 1.1476280689239502 seconds
Processed chunk in 1.1345841884613037 seconds
Processed chunk in 1.0412318706512451 seconds
Processed chunk in 1.153012990951538 seconds
Processed chunk in 1.0963099002838135 seconds
Processed chunk in 1.0033891201019287 seconds
Processed chunk in 1.097809076309204 seconds
Processed chunk in 1.1040489673614502 seconds
Processed chunk in 1.1434991359710693 seconds
Processed chunk in 1.237959861755371 seconds
Processed chunk in 1.2160530090332031 seconds
Processed chunk in 1.1145567893981934 seconds
Processed chunk in 1.051365852355957 seconds
Processed chunk in 1.0050091743469238 seconds
Processed chunk in 1.0538740158081055 seconds
Processed chunk in 1.0676767826080322 seconds
Processed chunk in 1.0137050151824951 seconds
Processed chunk in 1.094985008239746 seconds
Processed chunk in 1.0807268619537354 seconds
Processed chunk in 1.208254098892212 seconds
Processed chunk in 1.7960588932037354 seconds
Processed chunk in 1.389836072921753 seconds
Processed chunk in 1.1134231090545654 seconds
Processed chunk in 1.1141808032989502 seconds
Processed chunk in 1.1250758171081543 seconds
Processed chunk in 0.9882221221923828 seconds
Processed chunk in 1.157750129699707 seconds
Processed chunk in 1.1624701023101807 seconds
Processed chunk in 1.0002148151397705 seconds
Processed chunk in 1.0671672821044922 seconds
Processed chunk in 1.1406278610229492 seconds
Processed chunk in 1.0312831401824951 seconds
Processed chunk in 1.088771104812622 seconds
Processed chunk in 1.0704891681671143 seconds
Processed chunk in 1.0089991092681885 seconds
Processed chunk in 1.1460769176483154 seconds
Processed chunk in 1.1057448387145996 seconds
Processed chunk in 1.0565340518951416 seconds
Processed chunk in 1.1081199645996094 seconds
Processed chunk in 1.1636772155761719 seconds
Processed chunk in 1.0492229461669922 seconds
Processed chunk in 1.13130521774292 seconds
Processed chunk in 1.1703639030456543 seconds
Processed chunk in 1.0153179168701172 seconds
Processed chunk in 1.0668480396270752 seconds
Processed chunk in 1.0875937938690186 seconds
Processed chunk in 0.9859797954559326 seconds
Processed chunk in 1.054142951965332 seconds
Processed chunk in 1.1093659400939941 seconds
Processed chunk in 0.9969720840454102 seconds
Processed chunk in 1.1098880767822266 seconds
Processed chunk in 0.9553091526031494 seconds
Processed chunk in 1.0163540840148926 seconds
Processed chunk in 1.0277130603790283 seconds
Processed chunk in 1.0232768058776855 seconds
Processed chunk in 1.1224591732025146 seconds
Processed chunk in 0.9964339733123779 seconds
Processed chunk in 1.0416209697723389 seconds
Processed chunk in 1.039031744003296 seconds
Processed chunk in 1.0205209255218506 seconds
Processed chunk in 1.0980002880096436 seconds
Processed chunk in 0.9072511196136475 seconds

## Reviews

In [ ]:
reviews = pd.read_json('genome/reviews.jsonl', nrows=100, lines=True)
reviews.head()

   item_id                                                txt
0   172063  one-shot record of a belly dancer; "Carmencita...
1    95541  Banging Away..; Thomas Edison and William K.L....
2     7065  unbelievable; I cannot understand how anyone c...
3     3739  I'm still starry-eyed from it; I saw this last...
4     1562  Failed on every Front; Joel Schumacher who did...

In [ ]:
reviews = pd.read_json('genome/reviews.jsonl', lines=True, chunksize=100000)

In [ ]:
# Step 1: Read the first chunk to get the schema
first_chunk = next(pd.read_json('genome/reviews.jsonl', lines=True, chunksize=100000))

# Step 2: Create an empty table based on the schema
first_chunk.head(0).to_sql(name='reviews', con=engine, if_exists='replace', index=False)

# Step 3: Write the first chunk and the remaining chunks to the table
first_chunk.to_sql(name='reviews', con=engine, if_exists='append', index=False)

i = 1
# Step 4: Iterate over the rest of the chunks and insert them into the database
for chunk in pd.read_json('genome/reviews.jsonl', lines=True, chunksize=100000):
    t_start = time()
    chunk.to_sql(name='reviews', con=engine, if_exists='append', index=False)
    t_end = time()
    print(f'Processed chunk {i} in {t_end - t_start} seconds')
    i += 1

Processed chunk 1 in 7.306144952774048 seconds
Processed chunk 2 in 6.557629108428955 seconds
Processed chunk 3 in 6.185736417770386 seconds
Processed chunk 4 in 6.3691511154174805 seconds
Processed chunk 5 in 6.723142147064209 seconds
Processed chunk 6 in 6.844648122787476 seconds
Processed chunk 7 in 7.170928716659546 seconds
Processed chunk 8 in 9.170273780822754 seconds
Processed chunk 9 in 8.888615846633911 seconds
Processed chunk 10 in 8.703731060028076 seconds
Processed chunk 11 in 11.276880979537964 seconds
Processed chunk 12 in 8.47710108757019 seconds
Processed chunk 13 in 8.52095913887024 seconds
Processed chunk 14 in 8.912200927734375 seconds
Processed chunk 15 in 8.622588872909546 seconds
Processed chunk 16 in 8.540123701095581 seconds
Processed chunk 17 in 8.628298044204712 seconds
Processed chunk 18 in 8.014307975769043 seconds
Processed chunk 19 in 7.593925952911377 seconds
Processed chunk 20 in 7.354861259460449 seconds
Processed chunk 21 in 6.721498727798462 seconds
Processed chunk 22 in 6.454553842544556 seconds
Processed chunk 23 in 6.0833799839019775 seconds
Processed chunk 24 in 7.03035306930542 seconds
Processed chunk 25 in 5.938849925994873 seconds
Processed chunk 26 in 6.483986139297485 seconds
Processed chunk 27 in 2.415565252304077 seconds

## Survey Answers

In [ ]:
survey_answers = pd.read_json('genome/survey_answers.jsonl', lines=True)
survey_answers.head()

   user_id  item_id  tag_id  score
0   978707     3108   50126      3
1   978707     2858   50126      1
2   978707     1269   50126      1
3   978707     1136   50126      1
4   978707     1220   50126      1

In [ ]:
survey_answers.nunique()

user_id     679
item_id    5546
tag_id     1094
score         6
dtype: int64

678/247383 user_id -> cannot represent

## Tag count

In [ ]:
tag_counts = pd.read_json('genome/tag_count.jsonl', lines=True)
tag_counts.head()

   item_id  tag_id  num
0        1   86963    4
1        1   42940    1
2        1   37116   26
3        1   52206    1
4        1   34442   21

In [ ]:
tag_counts.nunique()

item_id    39685
tag_id      1094
num          258
dtype: int64